/* Style sheet for downtown_pizza Lab 3 assignment*/
body { font-family: sans-serif; background: #eee; padding: 20px; }
.container{
    display: grid;
    grid-template-columns: 66% 33%;
    background: white; padding: 20px; max-width: auto; margin: 0 auto;

}

.grid{
  display: grid;
  grid-template-columns: 150px 100px;
  gap: 8px;
  align-items: center;
  padding: 10px;
}
.grid label{
    text-align: left;
}

label{
    text-align: left; font-weight: bold; 
} 

.add-flex{
    display: flex;
    gap: 10px;
    align-items: center;
    gap: 15px;
    padding: 10px 0px 10px 0px;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px 0px 10px 0px;
}
.flex-button{
    display: flex;
    gap: 10px;
}

legend{
    font-size: 20px;
}

input[type=text], select{
  width: 200px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=tel]{
    width: 200px;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=number]{
    width: 100px;
  padding: 8px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=date]{
    width: 150px;
  padding: 12px;
  display: inline-block;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit]{
    width: 100px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #7a7a7a;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit]:hover {
  background-color: #36a13d;
  color: white;
}

input[type=reset]{
    width: 100px;
  padding: 12px 20px;
  display: inline-block;
  border: 2px solid #7a7a7a;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=reset]:hover {
  background-color: #e02121;
  color: white;
}
textarea{
    width: 500px;
}

caption{
    font-size: large;
    padding: 20px;
}

table{
    border-collapse: collapse;
}
th, td{
    padding: 10px;
}
tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
tbody tr:hover {
  background-color: #e8f0ff;
}

.aside-column{
    justify-items: center;
    align-content: start;
}

input:not(:placeholder-shown):invalid{
    border: 2px solid red;
}
input:invalid{
    border-color: 2px red;
}

input:valid{
    border-color: 2px green;
}

select:valid{
    border-color: green;
}

select:invalid{
    border-color: red;
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
    label { text-align: left; }
}